:root{
  --a:0
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;

}
.Container{
  background-color: black;
  width: auto;
}

.left {
  width: 25vw;
  /* height: 36vw; */
  padding: 3px;
  cursor: pointer;

}
.close img{
  display: none;
}
.right {
  width: 75vw;
  margin: 15px 0px;
  position: relative;

}

.home ul li {
  display: flex;
  width: 20px;
  list-style: none;
  gap: 23px;
  padding-top: 20px;
  cursor: pointer;
  font-weight: 700;
}

.fotter a {
  color: grey;
}

.fotter {
  display: flex;
  font-size: 9px;
  gap: 10px;
  position: absolute;
  bottom: 80px;
}

.library {
  min-height: 70vh;
  position: relative;
}

.button1 img {
  width: 17px;
  filter: invert(1);
  margin: 0px 11px;

}

.button1 button {
  background-color: #121212;
  color: white;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 30px;
  position: absolute;
  bottom: 25px;
  left: 30px;
  font-weight: bolder;
  cursor: pointer;

}

.heading {
  display: flex;
  justify-content: space-between;
  background-color: rgb(28, 28, 28);
  height: 70px;
}

.heading>* {
  padding: 11px 35px;
}

.nav svg {
  width: 30px;
  height: 30px;
  margin: 10px 0px;
}

.spotifyPlaylist {
  padding: 12px;
  font-size: 12px;
}

.cardContainer {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 70vh;
}

.spotifyPlaylist .card {
  /* background-color: #252525; */
  padding: 6px;
  border-radius: 10px;
}
.card:hover{
  background-color:#1a1a1a ;
  --a:1;
  cursor: pointer;
}
.card img,
h2,
p {
  padding-top: 10px;

}

.card {
  width: 160px;
  position: relative;
  transition: all .1s;
}

.card img {
  width: 100%;
  object-fit: contain;
  /* border-radius: 20px; */
}

.play svg {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 7px;
  top: 130px;
  opacity: var(--a);
  transition: all .1s ease-out;
}

/* Hide the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;

}

/* Define the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
  /* Adjust as needed */
  border-radius: 10px;
}

/* Define the scrollbar track when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(83, 83, 83);
  /* Adjust as needed */
}

/* Define the scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Define the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  /* Adjust width as needed */
  height: 10px;
  /* Adjust height as needed */
}

.button2>* {
  margin: 0px 15px;
}

.sign-up {
  padding: 17px 32px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(28, 28, 28);
  color: rgb(181, 181, 181);

}

.sign-up:hover {
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  cursor: pointer;


}

.log-in {
  padding: 17px 32px;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  font-size: 15px;
}

.log-in:hover {

  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 30px;

}

.playBar {
  position: fixed;
  bottom: 0;
  background-color: rgb(189, 189, 189);
  border: none;
  border-radius: 10px;
  filter: invert(1);
  width: 154vh;
  /* left: 395px; */
  padding: 13px;
  min-height: 33px;
}

.songButtons {
  display: flex;
  justify-content: center;
  gap: 12px;
  /* filter: invert(1); */
}
.songsList ul {
  padding: 10px 10px;
  /* display: flex; */
}
.songsList.info{
  width: 344px;
}
.songsList{
  height: 375px;
  overflow: auto;
  margin: 10px 0;
}
.hamburger{
  display: none;
}
.hamburgericon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.songsList ul li {
  list-style-type: decimal;
  display: flex;
  gap: 10px;
  padding: 10px 0;
  border: 1px solid white;
  margin: 5px 0;
  padding: 12px;
  border-radius: 3px;
  font-size: 12px;
  justify-content: space-between;
}
.playNow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playNow span {
  font-size: 13px;
  width: 60px;
}
.seekBar{
  height: 4px;
  width: 155vh;
  background-color:black;
  border-radius: 30px;
  position: absolute;
  bottom: 8px;
  right: 15px;
  cursor: pointer;
}
.circle{
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: black;
  position: relative;
  bottom: 3px;
  left: 0%;
  transition: left 0.5s;
}
.songButtons{
  cursor: pointer;
}
.songButtons img{
  width: 25px;
}
.songInfo,.songTime{
  color: black;
  font-size: 15px;
  padding: 0 20px;
}
.afterPlay{
  display: flex;
  justify-content: space-between;
}
.songInfo{
  width: 300px;
}
.volumeRocker{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.volume{
  display: flex;
  gap: 5px;
  align-items: center;
}

@media (max-width: 1200px) {
  .left{
    position: absolute;
    left: -120%;
    transition: all .3s;
    z-index: 1;
    width: 360px;
    background-color: black;

  }
  .Container{
    background-color: black;
    width: auto;
  }
  .left .close{
    position: absolute;
    right: 10px;
    top: 17px;
  }
 .right{
  width: 300vw; 
  height: 250vw;
 }

 .hamburger{
  display: block;
 }
 .seekBar{
  width: 115vw;
  
 }
 .songButtons{
  height: auto;
  width: auto;
 }
 .cardContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 }
 .playBar{
  width: 115vw;
 }
 .afterPlay{
  padding: 31px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px
 }
 .button2{
  display: flex;
 }
 .close img{
  display: block;
 }

}

